<template>
  <div class="home">
    <div class="content">
      <Menu v-if="!started && result === ''" v-model="settings" @onClick="startGame" />
      <GameTable v-if="started" :gameTable="gameTable" @onFinished="finishGame" />
      <Result :result="result" @onNewGame="startGame"/>
    </div>
  </div>
</template>

<script>
import Menu from "../components/Menu";
import GameTable from "../components/GameTable";
import Result from "../components/Result";

export default {
  name: "Game",
  components: {
    Result,
    Menu,
    GameTable
  },
  data() {
    return {
      settings: {
        N: 5,
        diff: 3
      },
      gameTable: [],
      started: false,
      result: ""
    };
  },
  methods: {
    startGame() {
      this.gameTable = this.createTable(this.settings.N, parseFloat(this.settings.diff));
      this.started = true;
      this.result = "";
    },
    finishGame(result) {
      this.started = false;
      this.result = result;
    },
    createTable(k, difficulty) {
      const diff = 0.4 - 8 / 90 * (difficulty-1);
      const generateArr = [];
      for (let i = 0; i < k * k; i++) {
        generateArr.push((Math.random() + diff) >= 0.5);
      }
      let num = Math.sqrt(generateArr.length);
      if (!Number.isInteger(num)) {
        throw new Error("Ez nem négyzetszám!");
      }
      const mainTableArr = [];
      for (let i = 0; i < generateArr.length; i += num) {
        mainTableArr.push(generateArr.slice(i, i + num));
      }
      return mainTableArr;
    },
  }
};
</script>

<style scoped lang="scss">
.home {
  .content:before,
  .content:after {
    content: "";
    position: fixed;
    top: -5%;
    left: -5%;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    background-image: url("../assets/forest-bg.jpg");
    background-color: black;
    background-size: cover;
    width: 110%;
    height: 110%;
    filter: blur(5px) opacity(50%);
  }

  .content {
    overflow: auto;
    position: relative;
  }
}
</style>
