<template>
  <div>
    <button @click="$emit('onClick')">
      <slot></slot>
    </button>
  </div>
</template>

<script>
export default {
  name: "Button"
};
</script>

<style scoped lang="scss">
button {
  margin: 1em 1em;
  cursor: pointer;
  background-image: linear-gradient(138deg, green, lightgreen);
  border: none;
  font-size: 26px;
  padding: 10px 10px;
  height: 50px;
  text-transform: uppercase;
  border-radius: 5px 20px;
  text-align: center;
  box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.3);
  transition: all 300ms linear;
  -webkit-text-stroke: 1px darkgreen;
  -webkit-text-fill-color: darkgreen;

  &:hover {
    box-shadow: 4px 8px 12px 0 rgba(0, 0, 0, 0.3);
  }
}
</style>
