<template>
  <div class="game">
    <table>
      <tbody>
        <tr class="vertical-values-tr">
          <td></td>
          <td v-for="verticalValue in verticalTrueValues" :key="verticalValue._id">
            <span v-for="value in verticalValue" :key="value._id">
              {{ value }} <br>
            </span>
          </td>
        </tr>
        <tr v-for="(rows, i) in gameTable" :key="rows._id" class="mainTr" >
          <td>
            {{ horizontalTrueValues[i].join(', ') }}
          </td>
          <td v-for="(item, j) in rows" :key="item._id"
            @mousedown="checkCell(i, j, 'MOUSEDOWN')"
            @mouseup="mouseUpReset"
            @mouseover="checkCell(i, j, 'MOUSEOVER')"
            class="cell"
            :class="{
              antiquewhite: !markedCells[i][j] && !seenCells[i][j],
              green: !markedCells[i][j] && seenCells[i][j] && gameTable[i][j],
              notMatch: !markedCells[i][j] && seenCells[i][j] && !gameTable[i][j],
              grey: markedCells[i][j] && !seenCells[i][j]
            }"
            :style="{ width: `${300/gameTable.length}px`, height: `${300/gameTable.length}px`}"
          ></td>
        </tr>
      </tbody>
    </table>
    <div>
      Összes pixel: {{ sumOfPixels }}, Megtalált pixelek: {{ sumOfFoundPixels }}
    </div>
    <div>
      <button @click="activeGame = false">Edit</button>
      <button @click="activeGame = true">Play</button>
    </div>
    <div class="life">
      <img src="../../src/assets/heart.svg">
      {{ life }}
    </div>
  </div>
</template>

<script>
export default {
  name: "GameTable",
  props: ["gameTable"],
  data() {
    return {
      horizontalTrueValues: [],
      verticalTrueValues: [],
      life: 3,
      activeGame: true,
      down: false,
      seenCells: [],
      markedCells: [],
      sumOfPixels: 0,
      sumOfFoundPixels: 0,
      direction: "",
      coordinates: {
        i: 0,
        j: 0
      },
    };
  },
  created() {
    this.seenCells = [];
    this.markedCells = [];
    for (let i = 0; i < this.gameTable.length; i++) {
      this.seenCells.push([]);
      this.markedCells.push([]);
    }
    this.horizontalTrueValues = this.sumTrueValues(this.gameTable);
    this.verticalTrueValues = this.sumTrueValues(this.gameTable, true);
    this.sumOfPixels = this.horizontalTrueValues.reduce((acc, currentValue) => currentValue.reduce((a, cv) => a+cv, acc), 0);
    this.life = 3;
  },
  methods: {
    sumTrueValues(table, isVertical) {
      let result = [];
      for (let i = 0; i < table.length; i++) {
        const lineResult = [];
        let sumOfTrue = 0;
        for (let j = 0; j < table[i].length; j++) {
          let currentValue = table[i][j];
          let nextValue = table[i][j + 1];
          if (isVertical) {
            currentValue = table[j][i];
            nextValue = table[j + 1] ? table[j + 1][i] : false;
          }
          if (currentValue) {
            sumOfTrue++;
            if (!nextValue) {
              lineResult.push(sumOfTrue);
            }
          } else {
            sumOfTrue = 0;
          }
        }
        result.push(lineResult);
      }
      return result;
    },
    checkCell(i, j, eventType) {
      if (!this.down && eventType === "MOUSEOVER") {
        return;
      }
      if (this.activeGame && this.markedCells[i][j]){
        return;
      }
      this.down = true;
      const result = [...this.seenCells];
      let alreadySeen;
      if (eventType === "MOUSEDOWN") {
        this.coordinates.i = i;
        this.coordinates.j = j;
        if (this.activeGame) {
          alreadySeen = result[i][j];
          result[i][j] = true;
          if (this.gameTable[i][j] && !alreadySeen && result[i][j]) this.sumOfFoundPixels++;
        } else {
          return this.markEmptyCell(i, j);
        }
      } else if (this.direction === "") {
        if (this.coordinates.i !== i) {
          this.direction = "VERTICAL";
        } else {
          this.direction = "HORIZONTAL";
        }
      }
      if (this.direction === "HORIZONTAL") {
        alreadySeen = result[this.coordinates.i][j];
        result[this.coordinates.i][j] = true;
        if (this.gameTable[this.coordinates.i][j] && !alreadySeen && result[this.coordinates.i][j]) this.sumOfFoundPixels++;
      }
      if (this.direction === "VERTICAL") {
        alreadySeen = result[i][this.coordinates.j];
        result[i][this.coordinates.j] = true;
        if (this.gameTable[i][this.coordinates.j] && !alreadySeen && result[i][this.coordinates.j]) this.sumOfFoundPixels++;
      }
      this.seenCells = result;
      if (this.seenCells[i][j] && !this.gameTable[i][j]) {
        this.mouseUpReset();
        if (this.life > 1 && !alreadySeen) {
          this.life -= 1;
        } else if (this.life >= 1 && alreadySeen) {
          return;
        } else {
          this.$emit("onFinished", "LOST");
        }
      }
      if (this.sumOfFoundPixels === this.sumOfPixels && this.sumOfFoundPixels !== 0) {
        this.$emit("onFinished", "WIN");
      }
    },
    markEmptyCell(i, j) {
      const result = [...this.markedCells];
      if (!this.seenCells[i][j]) {
        result[i][j] = !result[i][j];
      }
      this.markedCells = result;
    },
    mouseUpReset() {
      this.down = false;
      this.direction = "";
    },
  }
}
</script>

<style scoped lang="scss">
.game {
  margin: 1em auto;

  table {
    margin: 0 auto;
    border-spacing: 0px;

    .vertical-values-tr {

      td {
        width: min-content;
        vertical-align: bottom;
        white-space: pre-line;

        .found {
          font-weight: 700;
          color: green;
        }
      }
    }

    .mainTr {

      :first-child {
        white-space: nowrap;
        text-align: right;
      }

      .cell {
        border: 1px solid black;
        cursor: pointer;
        //width: 35px;
        //height: 35px;
      }
    }
  }
}
.antiquewhite {
  background-color: antiquewhite;
}
.green {
  background-color: green;
}
.notMatch {
  background-color: red;
}

.grey {
  background-color: grey;
}
.game {
  user-select: none;
}

.life {
  img {
    width: 30px;
    height: 30px;
  }
}
</style>
