<template>
  <div class="menu-wrapper">
    <div class="menu">
      <Button class="start-button" @onClick="$emit('onClick')">
        Start
      </Button>
      <Button @onClick="settingsOn = true">
        <img :src="require('../assets/settings.svg')" />
      </Button>
    </div>
    <div v-if="settingsOn" class="settings-wrapper">
      <h1>Beállítások</h1>
      <h3>Válaszd ki a tábla méretét!</h3>
      <div class="tablesize-select">
        <div v-for="(size, i) in tableSizes" :key="i">
          <input :value="size" class="checkbox" @click="updateGameSettings($event, 'N')" type="radio" name="budget" :id="`budget-${i}`">
          <label :for="`budget-${i}`">
            <span :data-hover="`${size} X ${size}`">{{ size }} X {{ size }}</span>
          </label>
        </div>
      </div>
      <h3>Válaszd ki a játék nehézségét!</h3>
      <div class="table-diff-select">
        <div v-for="(difficulty, i) in 5" :key="i">
          <input :value="difficulty" class="checkbox" @click="updateGameSettings($event, 'diff')" type="radio" name="diff" :id="`diff-${i}`">
          <label :for="`diff-${i}`">
            <span :data-hover="`${tableDifficulty[difficulty-1]}`">{{ tableDifficulty[difficulty-1] }}</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Button from "./Button";

export default {
  name: "Menu",
  components: {
    Button
  },
  props: ["value"],
  data() {
    return {
      settingsOn: false,
      tableSizes: [5, 10, 15, 20],
      tableDifficulty: ["nagyon könnyű", "könnyű", "közepes", "nehéz", "nagyon nehéz"],
      settings: {
        N: 10,
        diff: 1
      }
    };
  },
  methods: {
    updateGameSettings(event, type) {
      // this.settings = {...this.settings, [type]: parseInt(event.target.value)}
      switch (type) {
        case "N":
          this.settings.N = parseInt(event.target.value);
          break;
        case "diff":
          this.settings.diff = parseInt(event.target.value);
          break;
        default:
      }
      this.$emit("input", this.settings);
    }
  }
};
</script>

<style scoped lang="scss">
.menu-wrapper {
  //height: 100vh;
  width: 100%;

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  img {
    width: 26px;
    transition: transform 2s;
    vertical-align: baseline;

    &:hover {
      transform: rotate(360deg);
    }
  }

  .settings-wrapper {
    padding: 20px;
    width: 60%;
    margin: 50px auto;
    background: rgba(240, 240, 240, 0.7);
    border-radius: 5px;

    .tablesize-select {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }

    .table-diff-select {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    .checkbox:checked,
    .checkbox:not(:checked) {
      width: 0;
      height: 0;
      visibility: hidden;
    }
    .checkbox:checked + label,
    .checkbox:not(:checked) + label {
      position: relative;
      display: inline-block;
      //padding: 0;
      padding: 10px 10px;
      width: 100px;
      font-size: 22px;
      line-height: 25px;
      font-weight: 600;
      letter-spacing: 1px;
      //margin: 0 auto;
      margin: 0 5px 10px 5px;
      text-align: center;
      border-radius: 5px 20px;
      overflow: hidden;
      cursor: pointer;
      transition: all 300ms linear;
      -webkit-text-stroke: 0.5px white;
      -webkit-text-fill-color: darkgreen;
      color: transparent;
    }
    .checkbox:not(:checked) + label {
      -webkit-text-stroke: 1px darkgreen;
      box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.3);
    }
    .checkbox:checked + label {
      box-shadow: 4px 6px 10px 0 rgba(0, 0, 0, 0.5);
    }
    .checkbox:not(:checked) + label:hover {
      box-shadow: 4px 8px 12px 0 rgba(0, 0, 0, 0.3);
    }
    .checkbox:checked + label::before,
    .checkbox:not(:checked) + label::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 5px 20px;
      background-image: linear-gradient(138deg, green, lightgreen);
      //z-index: -1;
    }
    .checkbox:checked + label span,
    .checkbox:not(:checked) + label span {
      position: relative;
      display: block;
    }
    .checkbox:checked + label span::before,
    .checkbox:not(:checked) + label span::before {
      position: absolute;
      content: attr(data-hover);
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      -webkit-text-fill-color: white;
      color: white;
      transition: max-height 0.5s;
    }
    .checkbox:not(:checked) + label span::before {
      max-height: 0;
    }
    .checkbox:checked + label span::before {
      max-height: 100%;
    }
    .checkbox:checked ~ .checkbox:not(:checked) + label {
      background-color: #f0eff3;
      -webkit-text-stroke: 1px #1f2029;
      //box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
    }
  }
}
</style>
