<template>
  <div>
    <div v-if="result ==='WIN'">
      <h1>Szép munka!</h1>
      <h2>Megtaláltad az összes pixelt.</h2>
      <h2>Szeretnél újra játszani?</h2>
      <Button @onClick="newGame">Új játék</Button>
    </div>
    <div v-else-if="result === 'LOST'">
      <h1> Sajnos vesztettél!</h1>
      <h2>Szeretnéd újrapróbálni, vagy egy új pályán játszani?</h2>
      <Button>Újrapróbálom</Button>
      <Button @onClick="newGame">Új játék</Button>
    </div>
  </div>
</template>

<script>
import Button from "./Button";

export default {
  name: "Result",
  props: ["result"],
  components: {
    Button
  },
  methods: {
    newGame() {
      this.$emit('onNewGame')
    }
  }
};
</script>

<style scoped lang="scss">

</style>
